<html>
  <head>
    <title>TESTESTEST</title>

    <!-- 제이쿼리 불러오기 -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>TVING Search System</h1>
  </body>
</html>
