<html>
  <head>
    <title>결과</title>

    <!-- 제이쿼리 불러오기 -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  </head>
  <body>
    <input type="text" id="name" />
    <input type="submit" id="OK" />
  </body>
</html>
